@import 'home';
@import 'font-awesome';
@import 'bootstrap.min';
@import 'bootstrap_and_overrides';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

#footer {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  position: relative;
  bottom: 0;
  left: 0;
}

